//------------------------------------------------------------
// colours
//------------------------------------------------------------
$navy: #043c7b;
$blue: #00a0d1;
$orange: #db5e23;
$lime: #b4c92b;